.fixed{
  position: sticky;
  top: 0;
  /* margin-top: 100px; */
  /* margin-top: 150px; */
  width: 100%;
  /* margin-left: 50px; */
  background-color: #f3f3f3;
}
.category{
    display: inline-block;
    /* margin-top: 100px; */
    /* position: relative; */
    /* align-items: center; */
    left: -200px;
    font-size: 18px;
  }
.category .one-category{
  margin: 10px;
}
.category:hover{
  text-decoration: underline;
}
.search-bar{
  position: relative;
  margin-top: -40px;
  margin-left: 1000px;
}
.search-bar .search{
  width: 250px;
  padding: 4px;
  font-size: 17px;
  border-color: rgb(31, 66, 37);
}
.search-bar .btn-search{
  padding: 6px;
  width: 40px;
  border: solid;
  color: #fefefe;
  background-color:rgb(31, 66, 37);
}


