.top_link{
    position: relative;
    margin-top: -22px;
    /* padding-top: 60px; */
    width: 100%;
}
.top_link h1{
    font-size: 70px;
    font-weight: lighter;
    font-family: 'Baskerville';
    margin-top: 20px;
    background-color: rgb(31, 66, 37);
    color: #fefefe;
    padding: 60px 0 60px 90px;
    width: 100%;
}
.top_link a{
    font-weight: lighter;
    font-family: 'Baskerville';
    color: #fefefe;
    font-size: 30px;
    margin-top: 20px;
    width: 100%;
}
hr{
    margin-top: -40px;
    height: 15px;
    background-color: rgb(31, 66, 37);
    border: none;
}
.txt{
    margin-left: 90px;
    font-family: 'Baskerville';
    font-weight: 600;
    font-size: 40px;
}
button{
    margin-left: 88px;
    width: 10%;
    padding: 13px;
    font-size: 15px;
    background-color: rgb(31, 66, 37);
    color: #fefefe;
    border: none;
}
button:hover{
    background-color: rgb(59, 122, 71);
}
.first-img{
    position: absolute;
    left: 890px;
    margin-top: -544px;
    width: 550px;
}
.second-img{
    position: absolute;
    left: 680px;
    margin-top: -366px;
    width: 470px;
}
.sign-in{
    color:rgb(31, 66, 37);
    margin-left: 10px;
    font-size: 15px;
}
.sign-in:hover{
    text-decoration: underline;
}
.info{
    margin-left: 75px;
    border: none;
}
.info input{
    padding: 13px;
    width: 40%;
    font-size: 15px;
}
