<!-- <p>contact-details</p> -->
<app-account-dashboard></app-account-dashboard>
<div class="contact-details">
    <div class="intro">
        <h1>Your Profile</h1>
        <p>
            Become part of Almaty's home of reading by introducing who you are. The more you share, the more rewarding your experience will be and you can amend your details at any time.
        </p>
    </div>
    <h1>Your Details</h1>
    <fieldset class="details-detail">
        <div class="name-surname">
            <label>First Name * </label>
            <label>Last Name * </label>
        </div>
        <div class="input">
            <input type="text">
            <input type="text">
        </div>
    </fieldset>
    <fieldset class="details-changeable">
        <div class="email-number">
            <label>Phone Number * </label>
            <input type="tel" pattern="+[7]-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"> 
            <small>Format: +7(777)-777-77-77</small>
            <label>Email * </label>
            <input type="email">
        </div>
    </fieldset>
</div>