<!-- <app-book-categories></app-book-categories> -->
<div class="account">
    <div class="account-dashboard">
        <p>
            Account Dashboard <a routerLink='/'>/ Home</a>
        </p>
    </div>
    <hr>
    <div class="dashboard-tile-wrap">
        <fieldset class="span4 mobile-span6">
            <h2>Account Settings</h2>
            <a class="dashboard-tile" routerLink="/contact_details">
                Your Profile
            </a>
        </fieldset>
        <fieldset class="span4 mobile-span6">
            <h2>Order History</h2>
            <a class="dashboard-tile" routerLink="/orders">
                See All Orders
            </a>
        </fieldset>
        <fieldset class="span4 mobile-span6">
            <h2>Payment Methods</h2>
            <a class="dashboard-tile check-login-valid" routerLink='/payment'>
                Payment
            </a>
        </fieldset>
        <fieldset class="span4 mobile-span6">
            <h2>Shopping Cart</h2>
            <a class="dashboard-tile check-login-valid" routerLink='/cart'>
                Basket
            </a>
        </fieldset>
        <fieldset>
            <h2>Address Book</h2>
            <a class="dashboard-tile check-login-valid" routerLink='/address'>
                Address
            </a>
        </fieldset>
    </div>
</div>
