<div class="account">
    <fieldset class="dashboard-tile-wrap">
        <a class="return" routerLink="/account">
        〈 Account Dashboard
        </a>
        <a class="dashboard-tile" routerLink="/contact_details">
            Your Profile
        </a>
        <a class="dashboard-tile" routerLink="/orders">
            See All Orders
        </a>
        <a class="dashboard-tile check-login-valid" routerLink='/payment'>
            Payment
        </a>
        <a class="dashboard-tile check-login-valid" routerLink='/cart'>
            Basket
        </a>
        <a class="dashboard-tile check-login-valid" routerLink='/address'>
            Address
        </a>
    </fieldset>
</div>
