.body{
    align-items: center;
    text-align: center;
    /* padding-top: 30px; */
  }
.body .container{
    margin-top: 75px;
    margin-left: 500px;
}
.quotes{
    position: absolute;
    font-size: 63px;
    margin-left: 15px;
    margin-top: 50px;
    /* z-index: 1; */
}
.quotes .author{
   font-weight: lighter;
    /* color: #fefefe; */
}
.slider-wrapper{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 24px 48px -12px hsla(0, 0%, 0%, 0.25);
    border-radius: 10px;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.fieldset1{
    width: 100%;
    margin-top: 50px;
    display: inline-flex;
    background-color: #ebe8de;
    border: none;
}
.lorem{
    display: inline-flex;
}
.fieldset2{
    width: 100%;
    display: inline-flex;
    border: none;
    background-color: #ebe8de;
    margin-top: 50px;
}
.photos{
    margin: 20px auto;
}
.big-photo{
    margin-top: 50px;
}
/* .search-bar{
    position: relative;
}
.search{
    padding: 7px 8px;
} */


